extends ../layout

block content
  h1= title

  if authorList.length
    ul
      each author in authorList
        li
          a(href=author.url) !{author.name}
          |  (!{author.date_of_birth_formatted} - !{author.date_of_death_formatted})
  else
    p There are no authors.