extends ../layout

block content

  h1 !{title}: !{book.name}

  if book_instance_list.length

    p #[strong Delete the following books before attempting to delete this book instances.]
    div(style='margin-left:20px;margin-top:20px')
      h4 Book Instances
      dl
        each book in book_instance_list
          dt
            a(href=book.url) !{book._id}


  else
    p Do you really want to delete this Book?

    form(method='POST')
      div.form-group
        input#book_id.form-control(type='hidden' name='book_id', value=book._id )

      button.btn.btn-primary(type='submit') Delete
