extends layout

block content

  h1 Author: #{author.name}
  p #{author.date_of_birth_formatted} - #{author.date_of_death_formatted}

  div(style='margin-left:20px;margin-top:20px')

    h4 Books
    if bookList.length
      ul.list-group
        each book in bookList
          li.list-group-item
            a(href=book.url) #{book.title}
            p #{book.summary}

    else
      p This author has no books.